* {
    margin: 0%;
    padding-left: 0%;
    font-family: "Inconsolata", monospace;
}

.heading {
    padding-top: 40px;
    padding-left: 77px;
    width: 133px;
    height: 25px;
    font-weight: 700;
    
   
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding-bottom: 100px;
    margin-bottom: 50px;
  
}

.con-info > img {
    width: 539.22px;
    height: 447.43px;
    padding-top: 225px;
    padding-left: 77px;
}

.info-head {
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-size: 64px;
   padding-top: 90px;
   height: 190px;
   line-height: 88.78px;
   padding-bottom: 30px;
   
  
}

.con2-info {
    padding-top:150px;
}

.info-para {
    font-size: 24px;
    font-family:"Space Mono", monospace ;
    font-weight: 400;
    color:#4F4F4F;
   
    padding-bottom: 80px;
    
    
}

.info-button {
    width: 216px;
    height:68px;
    background-color: #333333;
    border: 2px solid #333333;
    color: #fff;
    font-size: 14px;
    font-family: "Space Mono", monospace;
    
}

.foot-info {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color:#BDBDBD;
}

.footer {
    margin-bottom: 5px;
}

.foot-info > a {
    color:#BDBDBD;
}


@media screen and (max-width:375px) {

    .container {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }

    .con-info > img {
        width: 286.83px;
        height: 238px;
        padding-top: 109px;
        padding-left: 44px;
    }

    .heading {
        width: 133px;
        height: 25px;
        padding-top: 20px;
        padding-left: 24px;
    }

   .info-head {
    width: 350px;
    height: 122px;
    padding-top: 0px;
    padding-left: 24px;
    font-size: 40px;
    word-spacing: 22px;
   }

   .con-info {
    margin-bottom: 0px;
    padding-right: 40px;
    
   }

   .con2-info {
    padding-top: 5px;
   }

   .info-para {
    width: 328px;
    height: 81px;
    padding-left: 23px;
    font-size: 18px;
    line-height: 26.66px;
    padding-top: 45px;
   }

   .info-button {
    width: 216px;
    height: 68px;
    margin-left: 24px;
    font-size: 14px;
   }

   
    
}